.score-container {
  img {
    width: 0.266667rem /* 10/37.5 */;
    height: 0.266667rem; /* 10/37.5 */
  }
}

.head {
  background-color: #fff;
  z-index: 999;
  position: fixed;
  top: 0;
  padding: 0.266667rem /* 10/37.5 */ 0.133333rem /* 5/37.5 */;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.026667rem /* 1/37.5 */ solid #999;
  font-size: 0.48rem /* 18/37.5 */;
  .head-left {
    width: 0.8rem /* 30/37.5 */;
    height: 0.8rem; /* 30/37.5 */
  }
  .head-name {
    width: 100%;

    text-align: center;
  }
  .head-home {
    width: 0.8rem /* 30/37.5 */;
    height: 0.8rem; /* 30/37.5 */
  }
}

.store-item {
  // height: 2.4rem /* 90/37.5 */;
  position: relative;
  padding: 0.4rem /* 15/37.5 */ 0;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-bottom: 0.013333rem /* 0.5/37.5 */ solid #e4e4e4;
  .store-item-left {
    display: block;
    width: 2.133333rem /* 80/37.5 */;
    height: 1.6rem; /* 60/37.5 */
    margin-right: 0.266667rem; /* 10/37.5 */
    border: 0.026667rem /* 1/37.5 */ solid #e4e4e4; /* 0.5/37.5 */
  }
  .store-item-right {
    flex: 1;
    color: #656565;
    font-size: 0.32rem /* 12/37.5 */;
    .right-head {
      color: #000;
      font-size: 0.426667rem; /* 16/37.5 */
    }
    .right-center {
      display: flex;
      justify-content: space-between;
      margin: 0.133333rem /* 5/37.5 */ 0;
      .sell-score {
        display: flex;
        .month-sell {
          margin-left: 0.08rem; /* 3/37.5 */
        }
      }
    }
  }
}
.brand {
  position: absolute;
  top: 0.4rem /* 15/37.5 */;
  left: 0;
  width: 0.746667rem /* 28/37.5 */;
  height: 0.426667rem /* 16/37.5 */;
  color: #fff;
  padding: 0 0.053333rem; /* 2/37.5 */
}
.brand-in {
  background-color: #ffa627;
}
.brand-new {
  background-color: #21c56c;
}

.cate-item {
  .cate-item-title {
    width: 100%;
    background-color: #efefef;
    padding: 0.213333rem /* 8/37.5 */ 0;
    padding-left: 0.266667rem /* 10/37.5 */;
    box-sizing: border-box;
    color: #666;
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: '';
      width: 0;
      height: 0.32rem /* 12/37.5 */;
      border: 0.026667rem /* 1/37.5 */ solid #ffd161;
      position: absolute;
      left: 0;
    }
  }
  .cate-item-content {
    // padding: 0.266667rem /* 10/37.5 */;
    box-sizing: border-box;
    min-height: 0.533333rem; /* 20/37.5 */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .cate-box {
      padding: 0 0.133333rem /* 5/37.5 */;
      margin: 0.213333rem /* 8/37.5 */ 3%;
      min-height: 1.066667rem /* 40/37.5 */;
      min-width: 26% /* 104/37.5 */;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.026667rem /* 1/37.5 */ solid #ccc;
      box-sizing: border-box;
      &.active {
        border-color: #ffb000;
        color: #ffb000;
        background: #fffbf1;
      }
    }
  }
}
